.containerWithGaps {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  padding: 90px;
  position: relative;
  top: 100px;
}
.title {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}
.description {
  font-size: 20px;
  font-weight: 500;
  color: var(--foreground-color50);
}
.wrapper {
  background-color: var(--bg-color-and-popup);
  height: 100%;
  width: 100%;
}
.createWorkspaceSVG {
  path {
    stroke: var(--bg-move-roadmap);
  }
}

.themeButton {
  display: none;
}

.main {
  background-color: var(--bg-color-and-popup);
  min-height: calc(100vh - 100px);
  padding-top: 24px;
  top: 100px;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0px;
}

.content {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.centeredContentWorkspace {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
  padding: 90px;
}

@media (min-width: 0px) and (max-width: 399px) {
  .createWorkspaceSVG {
    width: 150px;
    height: 150px;
  }
  .description {
    font-size: 18px;
  }
  .title {
    font-size: 26px;
  }
  .container {
    gap: 30px;
  }
  .centeredContentWorkspace {
    padding: 50px;
  }
}
@media (min-height: 0px) and (max-height: 668px) {
  .centeredContentWorkspace {
    padding: 50px;
  }
}
