.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.contentWraper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: calc(100% - 450px);
}

@media (min-width: 1000px) and (max-width: 1599px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contentWraper {
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 999px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contentWraper {
    width: 100%;
  }
}
