:root {
  --white: #ffffff;
  --light-gray: (242, 244, 247);
  --mystic: (230, 233, 237);
  --cararra: (232, 234, 237);
  --black: #000000;
  --blue: (0, 102, 254);
  --black-60: (0, 0, 0, 0.6);
  --black-40: (0, 0, 0, 0.4);
}
