.input {
    width: 25vw;
    height: 6vh;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0.5vh;
    text-align: center;
    background-color: white;
    border-color: #e7e7e7;
    display: flex;
    flex-direction: column;
}
.input::placeholder {
    text-align: left;
    padding-left: 2vh;
    font-size: 2vh;
    color: #858585;
}

.input:active {
    border-color: #0066FE;
}
.input:active::placeholder {
    color: #0066FE;
}

.input:hover {
    border-color: #e7e7e7;
}
.input:hover::placeholder {
    color: #858585;
}

.input:disabled {
    background-color: #E7E7E7;
    border-color: #858585;
}
.input:disabled::placeholder {
    color: #858585;
}

.error {
    border-color: #FF4848;
}
.error::placeholder {
    color: #FF4848;
}

h3 {
    font-size: 1.5vh;
    color: #FF4848;
    padding-bottom: 0.5vh;
    font-weight: normal;
}