.logo {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  border: none;
  cursor: default;
}
.TitleLogo {
  font-weight: bold;
  font-size: 32px;
  color: #0066fe;
  margin-left: 10px;
  line-height: 95%;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}
.LogoWrapper {
  display: flex;
  align-items: center;
}
@media screen and ((max-width: 520px) or (max-height: 680px)) {
  .logo {
    width: 100px;
    height: 100px;
  }
  .TitleLogo {
    font-size: 28px;
    font-weight: bold;
  }
}
