@import "../theme.module.css";

.verification {
  width: 6.5vh;
  height: 8vh;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
  border-radius: 15px;
  text-align: center;
  color: var(--text-color);
  font-size: 5vh;
  caret-color: transparent;
}

.verification:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: none;
}

.verification:focus {
  background-color: rgba(0, 102, 254, 0.03);
  border-style: solid;
  border-color: rgb(0, 102, 254);
}

.verification:active {
  opacity: 75%;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: none;
}
