@import "../theme.module.css";

.verification {
  width: 50px;
  height: 65px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  margin-top: 12px;
  margin-top: 2vh;
  border-radius: 15px;
  text-align: center;
  color: var(--text-color);
  font-size: 32px;
  caret-color: transparent;
}

.verification::placeholder {
  color: rgba(0, 0, 0, 0.15);
  font-weight: medium;
}

.verification:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: none;
}

.verification:focus {
  background-color: rgba(0, 102, 254, 0.03);
  border-style: solid;
  border-color: rgb(0, 102, 254);
}

.verification:active {
  opacity: 75%;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: none;
}
