.projectsList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  background-color: var(--bg-color-project);
  border-radius: 24px;
}
.name {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
}
.project {
  height: 339px;
  flex-basis: calc(50% - 12px);
  background-color: var(--bg-color-sidebar-and-dropdown);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-radius: 15px;
}
.avatar {
  height: 120px;
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.pixelAvatar {
  image-rendering: pixelated;
}
.addLogo {
  height: 120px;
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--bg-color-project);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addProject {
  height: 339px;
  flex-basis: calc(50% - 12px);
  background-color: var(--bg-color-sidebar-and-dropdown);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-radius: 15px;
}
.buttonChapter {
  margin-bottom: 12px;
}
