.projectsList {
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  background-color: var(--bg-color-project);
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(290px, 100%), 1fr));
}
.name {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.project {
  /* height: 341px;
  width: 312px; */
  flex-basis: calc(50% - 12px);
  background-color: var(--bg-color-sidebar-and-dropdown);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-radius: 15px;
  min-height: 340px;
  min-width: 290px;
}
.avatar {
  height: 120px;
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-stroke);
}
.avatarUser {
  height: 120px;
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.pixelAvatar {
  image-rendering: pixelated;
}
.addLogo {
  height: 120px;
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--bg-color-project);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addProject {
  height: 339px;
  flex-basis: calc(50% - 12px);
  background-color: var(--bg-color-sidebar-and-dropdown);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-radius: 15px;
  min-height: 340px;
  min-width: 290px;
}
.addProjectNone {
  height: 339px;
  flex-basis: calc(50% - 12px);
  background-color: var(--bg-color-sidebar-and-dropdown);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-radius: 15px;
  min-height: 340px;
  min-width: 290px;
  max-width: 400px;
}
.buttonChapter {
  margin-bottom: 12px;
}

.noProjectWrapper {
  width: 100%;
  padding: 24px;
  background-color: var(--bg-color-project);
  border-radius: 15px;
}
.noProjectInfo {
  width: 100%;
  padding: 20px;
  background-color: var(--bg-color-sidebar-and-dropdown);
  border-radius: 15px;
}
.noProjectText {
  padding-left: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.noProjectSVG {
  margin-left: 29px;
  path {
    stroke: var(--text-color);
  }
  line {
    stroke: var(--text-color);
  }
}
.noProjectTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.noProjectTextTitle {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
}
.noProjectTextDescription {
  font-size: 18px;
  font-weight: normal;
  color: var(--foreground-color50);
  text-align: center;
}
