@import "../../theme.module.css";

.dropdownList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 6px;
  background-color: var(--bg-color-sidebar-and-dropdown);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--light-stroke);
  border-width: 1px;
  right: 0px;
  top: 40px;
  z-index: 1;
}

.elem {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 266px;
  height: 32px;
  padding: 6px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.elem:hover {
  background-color: var(--bg-workspace-button);
}
.elem:active {
  background-color: var(--bg-workspace-button-active);
}
.elem:disabled {
  opacity: 0.3;
}
.elemText {
  color: var(--text-color);
  font-size: 16px;
  font-weight: normal;
}
