.dropdownTheme {
  display: inline-block;
  position: relative;
}
.dropdownThemeContent {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdownTheme:hover .dropdownThemeContent {
  display: block;
}

.dropdown-content .buttonTheme {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.titleInput {
  color: var(--title-input-color);
  font-size: 16px;
  font-weight: 500;
}
.input::placeholder {
  color: var(--foreground-color50);
  font-size: 16px;
  font-weight: 500;
}
.input {
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--border-input);
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 504px;
  height: 43px;
}
.textarea {
  height: 91px;
  resize: none;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
