.dropdownTheme {
  display: inline-block;
  position: relative;
}
.dropdownThemeContent {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdownTheme:hover .dropdownThemeContent {
  display: block;
}

.dropdown-content .buttonTheme {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.titleInput {
  color: var(--title-input-color);
  font-size: 16px;
  font-weight: 500;
}
.input::placeholder {
  color: var(--foreground-color50);
  padding-left: 0;
  font-size: 16px;
  font-weight: 500;
}
.input {
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--switch-hover-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 504px;
  height: 43px;
  outline: none;
}
.inputLinkVisitorPage {
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--switch-hover-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 548px;
  height: 43px;
  outline: none;
}

.input::-webkit-scrollbar {
  width: 7px;
}

.input::-webkit-scrollbar-track {
  background-color: var(--light-stroke);
  border-radius: 20px;
}

.input::-webkit-scrollbar-thumb {
  background-color: var(--light-stroke);
  border-radius: 20px;
}
.input:hover {
  background-color: var(--bg-workspace-button-focus);
  border-width: 1.5px;
  border-color: transparent;
  padding-left: 18px;
}
.input:focus {
  border-style: solid;
  border-color: rgb(0, 102, 254);
  border-width: 1.5px;
  padding-left: 18px;
  background-color: rgb(0, 102, 254, 0.03);
}
.input:active {
  opacity: 75%;
  padding-left: 18px;
  border-width: 1.5px;
  border-color: transparent;
  background-color: var(--bg-workspace-button-focus);
}
.input:disabled {
  .form {
    opacity: 0.3;
  }
}
.textarea {
  height: 91px;
  resize: none;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputDate {
  padding-left: 62px;
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--border-input);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 504px;
  height: 56px;
  outline: none;
}
.inputDate::placeholder {
  color: var(--foreground-color50);
  padding-left: 0;
  font-size: 16px;
  font-weight: 500;
}
.inputDate:hover {
  background-color: var(--bg-workspace-button-focus);
  border-width: 1.5px;
  border-color: transparent;
  padding-left: 62px;
}
.inputDate:focus {
  border-style: solid;
  border-color: rgb(0, 102, 254);
  border-width: 1.5px;
  padding-left: 62px;
  background-color: rgb(0, 102, 254, 0.03);
}
.inputDate:active {
  opacity: 75%;
  padding-left: 62px;
  border-width: 1.5px;
  border-color: transparent;
  background-color: var(--bg-workspace-button-focus);
}
.inputDate:disabled {
  .textFielddate {
    opacity: 0.3;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.toggle {
  cursor: pointer;
  display: inline-block;
}
.toggleSwitch {
  display: inline-block;
  background: var(--switch-color); /* заменить на переменную */
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: 0.25s;
}
.toggleSwitch:before,
.toggleSwitch:after {
  content: "";
}
.toggleSwitch:before {
  display: block;
  background: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.35s;
}
.toggleSwitch:hover {
  background-color: var(--switch-hover-color); /* заменить на переменную */
}
.toggleSwitch:active {
  background-color: rgba(255, 255, 255, 0.15), rgba(0, 102, 254, 1);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    linear-gradient(rgb(0, 102, 254, 1), rgb(0, 102, 254, 1));
  opacity: 0.75;
}
.toggleCheckbox:checked + .toggleSwitch {
  background: #0066fe;
}
.toggleCheckbox:checked + .toggleSwitch:hover {
  background-color: rgba(255, 255, 255, 0.1), rgba(0, 102, 254, 1);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(rgb(0, 102, 254, 1), rgb(0, 102, 254, 1));
}
.toggleCheckbox:checked + .toggleSwitch:disabled {
  opacity: 0.3;
}

.toggleCheckbox:checked + .toggleSwitch:before {
  left: 30px;
}

.toggleCheckbox {
  position: absolute;
  visibility: hidden;
}

.accentWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  background-color: var(--bg-color-project);
  border-radius: 24px;
  width: 696px;
  height: 180px;
}

.title {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
}

.description {
  color: var(--foreground-color50);
  font-size: 20px;
  font-weight: normal;
}

.themeWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  background-color: var(--bg-color-project);
  border-radius: 24px;
  width: 696px;
  height: 398px;
}

.themeChangeBlock {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.lightButton {
  display: flex;
  flex-direction: row;
  position: relative;
  border: none;
  background-color: transparent;
}
.checkSettingsThemeSVG {
  padding: 0px;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
}

.switchBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.systemThemeTitle {
  font-size: 20px;
  font-weight: normal;
  color: var(--text-color);
}

.themeButtonActive {
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 2px;
  border-radius: 24px;
  height: 204px;
  width: 316;
}

.textFielddate {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.calendarSVG {
  position: absolute;
  left: 18px;
  cursor: pointer;
}

.textFieldLink {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.inputLink {
  background-color: transparent;
  color: var(--text-color);
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--switch-hover-color);
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 298px;
  height: 43px;
  outline: none;
}
.inputLink:hover {
  background-color: var(--bg-workspace-button-focus);
  border-width: 1.5px;
  border-color: transparent;
  padding-left: 18px;
}
.inputLink:focus {
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 1.5px;
  padding-left: 18px;
  background-color: rgb(0, 102, 254, 0.03);
}
.inputLink:active {
  opacity: 75%;
  padding-left: 18px;
  border-width: 1.5px;
  border-color: transparent;
  background-color: var(--bg-workspace-button-focus);
}
.inputLink:disabled {
  .textFieldLinkForm {
    opacity: 0.3;
  }
}
.inputLinkTitle {
  background-color: transparent;
  color: var(--text-color);
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--switch-hover-color);
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 200px;
  height: 43px;
  outline: none;
}
.inputLinkTitle:hover {
  background-color: var(--bg-workspace-button-focus);
  border-width: 1.5px;
  border-color: transparent;
  padding-left: 18px;
}
.inputLinkTitle:focus {
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 1.5px;
  padding-left: 18px;
  background-color: rgb(0, 102, 254, 0.03);
}
.inputLinkTitle:active {
  opacity: 75%;
  padding-left: 18px;
  border-width: 1.5px;
  border-color: transparent;
  background-color: var(--bg-workspace-button-focus);
}
.inputLinkTitle:disabled {
  .textFieldLinkTitleForm {
    opacity: 0.3;
  }
}
.accentChoice {
  display: flex;
  gap: 12px;
}
