@import "../../theme.module.css";

.section {
  background-color: var(--bg-color-project);
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  gap: 12px;
}
.taskField {
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  position: relative;
}
.tasksListWrapper {
  width: 100%;
  position: relative;
}
.taskMainPart {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.taskName {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}
.taskDate {
  display: flex;
  gap: 4px;
  align-items: center;
}
.taskDateText {
  font-size: 16px;
  font-weight: normal;
  color: var(--foreground-color50);
}
.taskTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.calendarSVG {
  width: 19px;
  height: 19px;
}
.dots {
  cursor: pointer;
  width: 10px;
  path {
    fill: var(--text-color);
    stroke: var(--text-color);
  }
}
.taskDescription {
  font-size: 14px;
  font-weight: normal;
  color: var(--foreground-color50);
}
.paginationWrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: 3px;
  left: calc(50% - 50px);
}
.paginationCircle {
  width: 18px;
  height: 18px;
  background-color: grey;
  border-radius: 50%;
}
.paginationCircleActive {
  background-color: antiquewhite;
}
.tasksListTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taskParticipantsAvatars {
  max-width: 40px;
  max-height: 40px;
  border-radius: 8px;
}
.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
}
.graph {
  width: 100%;
  height: 453px;
  position: relative;
  overflow-x: hidden;
}
.tasksList {
  background-color: var(--bg-color-sidebar-and-dropdown);
  border-radius: 24px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.taskFieldsWrapper {
  display: flex;
  align-items: center;
}
.taskAsidePart {
  display: flex;
  gap: 12px;
  position: absolute;
  right: 24px;
}

.graphRoadmap {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
}
.moveGraphButton {
  position: absolute;
  height: 453px;
  width: calc(32px);
  position: absolute;
}
.moveGraphButtonRight {
  background: linear-gradient(90deg, rgba(var(--bg-color-project-rgb), 0), var(--bg-color-project));
  right: 0px;
}
.moveGraphButtonLeft {
  background: linear-gradient(90deg, var(--bg-color-project), rgba(var(--bg-color-project-rgb), 0));
  left: 0px;
}
.graphStage {
  height: 176px;
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transition: ease-in-out;
  transition-duration: 500ms;
}
.graphCircle {
  height: 128px;
  width: 131px;
  /* background-color: antiquewhite; */
}
.graphLine {
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 176px;
}
.graphBranchLine {
  height: 24px;
  width: 4px;
  background: rgba(0, 0, 0, 0.1);
}

.showMoreButton {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--foreground-color50);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.stageName {
  border: none;
  background-color: transparent;
  padding: 6px;
}
.stageName::placeholder {
  text-align: center;
}
