.taskDescriptionWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-project);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  gap: 12px;
  padding-left: 24px;
  padding-top: 18px;
  padding-bottom: 12px;
  padding-right: 6px;
  position: relative;
}
.taskDescriptionDone {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-task-complete);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  gap: 12px;
  padding-left: 24px;
  padding-top: 18px;
  padding-bottom: 12px;
  padding-right: 6px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-stroke);
}

.taskDescriptionProgress {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-task-in-progress);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  gap: 12px;
  padding-left: 24px;
  padding-top: 18px;
  padding-bottom: 12px;
  padding-right: 6px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-stroke);
}

.taskDescriptionPlanned {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-task-in-planned);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  gap: 12px;
  padding-left: 24px;
  padding-top: 18px;
  padding-bottom: 12px;
  padding-right: 6px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-stroke);
}

.taskDate {
  display: flex;
  gap: 12px;
  height: auto;
  width: auto;
}
.DateWraper {
  display: flex;
  gap: 6px;
  align-items: center;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-stroke);
  background-color: var(--light-stroke);
}
.taskDateWraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.calendarSVG {
  width: 24px;
  height: 24px;
}
.taskDateText {
  font-size: 16px;
  font-weight: normal;
  color: var(--foreground-color50);
}

.taskName {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  max-width: calc(100% - 45px);
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  min-height: 30px;
}

.hr {
  width: calc(100% - 5px);
  height: 2px;
  color: var(--light-stroke);
  border-radius: 2px;
}
.taskDescription {
  font-size: 18px;
  font-weight: normal;
  color: var(--foreground-color50);
  width: calc(100% - 32px);
  overflow-wrap: anywhere;
}

.taskDescriptionInfoPhoto {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-x: auto;
  min-height: 0px;
  max-height: 370px;
}

.taskParticipantAttachments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(190px, 100%), 1fr));
  gap: 10px;
  padding-right: 5px;
}

.attachmentContainer {
  display: flex;
  flex-direction: column;
  height: auto;
}
.attachmentImgInfo {
  padding-left: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 3px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.attachmentImgInfoName {
  font-size: 14px;
  font-weight: 500;
  color: var(--accent-color);
  white-space: nowrap;
  overflow-x: hidden;
  width: calc(100% - 90px);
  text-overflow: ellipsis;
}
.attachmentImgInfoSize {
  font-size: 14px;
  font-weight: 500;
  color: var(--foreground-color50);
}

.taskParticipantAvatar {
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--light-stroke);
}

.unhandledFile {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-stroke);
  border-radius: 8px;
}

.fileIcon {
  width: 50px;
  height: 50px;
  path {
    stroke: var(--foreground-color50);
  }
}

.taskFieldDone {
  width: auto;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--bg-task-complete);
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-stroke);
  color: var(--color-task-done);
}

.taskFieldProgress {
  width: auto;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--bg-task-in-progress);
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-stroke);
  color: var(--color-task-progress);
}

.taskFieldPlanned {
  width: auto;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--bg-task-in-planned);
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-stroke);
  color: var(--color-task-planned);
}

.taskStatus {
  font-size: 16px;
  font-weight: normal;
}

.taskDescriptionInfoPhoto::-webkit-scrollbar {
  width: 7px;
}

.taskDescriptionInfoPhoto::-webkit-scrollbar-track {
  background-color: var(--light-stroke);
  border-radius: 20px;
}

.taskDescriptionInfoPhoto::-webkit-scrollbar-thumb {
  background-color: var(--light-stroke);
  border-radius: 20px;
}

.closeTaskDescription {
  display: none;
}

.dotsWrapper {
  opacity: 0.3;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 24px;
  .dots {
    cursor: pointer;
    height: 16px;
    width: 3.64px;
    path {
      fill: var(--text-color);
      stroke: var(--text-color);
    }
  }
}
.dotsWrapper:hover {
  opacity: 1;
  background-color: var(--light-stroke);
}
.dotsWrapper:active {
  opacity: 0.75;
}
.dotsWrapper:focus {
  background-color: var(--light-stroke);
  opacity: 0.75;
}

@media (min-width: 1000px) and (max-width: 1599px) {
  .closeTaskDescription {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 24px;
  }
  .taskName {
    font-size: 20px;
    max-width: 140px;
  }

  .taskFieldDone {
    width: auto;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    color: transparent;
  }

  .taskFieldProgress {
    width: auto;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    color: transparent;
  }

  .taskFieldPlanned {
    width: auto;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    color: transparent;
  }
}

@media (min-width: 0px) and (max-width: 999px) {
  .closeTaskDescription {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 24px;
  }

  .taskName {
    font-size: 20px;
    max-width: 140px;
    width: auto;
  }

  .taskDateText {
    font-size: 14px;
  }

  .calendarSVG {
    width: 16px;
    height: 16px;
  }

  .taskFieldDone {
    width: auto;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    color: transparent;
  }

  .taskFieldProgress {
    width: auto;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    color: transparent;
  }

  .taskFieldPlanned {
    width: auto;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    color: transparent;
  }
}

@media (min-width: 0px) and (max-width: 560px) {
  .taskName {
    font-size: 20px;
    max-width: 100px;
    width: auto;
  }
}

@media (min-width: 0px) and (max-width: 510px) {
  .taskDate {
    flex-direction: column;
  }
}
