@import "../../../workspace/theme.module.css";

.section {
  background-color: var(--bg-color-project);
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  gap: 12px;
}
.taskFieldDone {
  min-height: 56px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--bg-task-complete);
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-stroke);
}
/* .taskFieldDone:hover {
  background-color: var(--bg-color-task-hover), var(--bg-task-complete);
  background-image: linear-gradient(
      var(--bg-color-task-hover),
      var(--bg-color-task-hover)
    ),
    linear-gradient(var(--bg-task-complete), var(--bg-task-complete));
}
.taskFieldDone:active {
  opacity: 0.75;
  background-color: var(--bg-color-task-hover), var(--bg-task-complete);
  background-image: linear-gradient(
      var(--bg-color-task-hover),
      var(--bg-color-task-hover)
    ),
    linear-gradient(var(--bg-task-complete), var(--bg-task-complete));
} */
.taskFieldProgress {
  min-height: 56px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--bg-task-in-progress);
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-stroke);
}
/* .taskFieldProgress:hover {
  background-color: var(--bg-color-task-hover), var(--bg-task-in-progress);
  background-image: linear-gradient(
      var(--bg-color-task-hover),
      var(--bg-color-task-hover)
    ),
    linear-gradient(var(--bg-task-in-progress), var(--bg-task-in-progress));
}
.taskFieldProgress:active {
  opacity: 0.75;
  background-color: var(--bg-color-task-hover), var(--bg-task-in-progress);
  background-image: linear-gradient(
      var(--bg-color-task-hover),
      var(--bg-color-task-hover)
    ),
    linear-gradient(var(--bg-task-in-progress), var(--bg-task-in-progress));
} */
.taskFieldPlanned {
  min-height: 56px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--bg-task-in-planned);
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-stroke);
}
/* .taskFieldPlanned:hover {
  background-color: var(--bg-color-task-hover), var(--bg-task-in-planned);
  background-image: linear-gradient(
      var(--bg-color-task-hover),
      var(--bg-color-task-hover)
    ),
    linear-gradient(var(--bg-task-in-planned), var(--bg-task-in-planned));
}
.taskFieldPlanned:active {
  opacity: 0.75;
  background-color: var(--bg-color-task-hover), var(--bg-task-in-planned);
  background-image: linear-gradient(
      var(--bg-color-task-hover),
      var(--bg-color-task-hover)
    ),
    linear-gradient(var(--bg-task-in-planned), var(--bg-task-in-planned));
} */

.tasksListWrapper {
  width: 100%;
  position: relative;
}
.taskMainPart {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 500px;
  /* cursor: pointer; */
}
.taskInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.taskName {
  max-width: 350px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.taskDate {
  display: flex;
  gap: 4px;
  align-items: center;
}
.taskDateText {
  font-size: 16px;
  font-weight: normal;
  color: var(--foreground-color50);
}
.taskTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.calendarSVG {
  width: 19px;
  height: 19px;
}

.dotsWrapper {
  opacity: 0.3;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .dots {
    cursor: pointer;
    height: 16px;
    width: 3.64px;
    path {
      fill: var(--text-color);
      stroke: var(--text-color);
    }
  }
}
.dotsWrapper:hover {
  opacity: 1;
  background-color: var(--light-stroke);
}
.dotsWrapper:active {
  opacity: 0.75;
}

.taskDescription {
  font-size: 14px;
  font-weight: normal;
  color: var(--foreground-color50);
  height: 17px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.paginationWrapper {
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: 3px;
  left: calc(50% - 50px);
}
.paginationCircle {
  width: 18px;
  height: 18px;
  background-color: var(--bg-pagination-circle);
  border-radius: 50%;
}
.paginationCircleActive {
  background-color: var(--bg-workspace-button-focus);
}
.tasksListTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taskParticipantsAvatars {
  max-height: 40px;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  flex-direction: row;
}
.taskParticipantAvatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
}
.graph {
  width: 100%;
  height: 453px;
  position: relative;
  overflow-x: hidden;
}
.tasksList {
  background-color: var(--bg-color-sidebar-and-dropdown);
  border-radius: 24px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.taskFieldsWrapper {
  display: flex;
  align-items: center;
}
.taskAsidePart {
  display: flex;
  gap: 6px;
  position: absolute;
  right: 24px;
  align-items: center;
}

.graphRoadmap {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
}
.moveGraphButton {
  position: absolute;
  height: 453px;
  width: calc(32px);
  position: absolute;
}
.moveGraphButtonRight {
  background: linear-gradient(
    90deg,
    rgba(var(--bg-color-project-rgb), 0),
    var(--bg-color-project)
  );
  right: 0px;
}
.moveGraphButtonLeft {
  background: linear-gradient(
    90deg,
    var(--bg-color-project),
    rgba(var(--bg-color-project-rgb), 0)
  );
  left: 0px;
}
.moveButtons {
  width: 100%;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.graphStage {
  /* height: 176px; */
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transition: ease-in-out;
  transition-duration: 500ms;
}
.graphCircle {
  /* height: 128px; */
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  /* background-color: antiquewhite; */
}
.graphLine {
  /* width: 100%; */
  height: 4px;
  background: var(--light-stroke);
  position: absolute;
  transition: ease-in-out;
  transition-duration: 500ms;
}
.graphCircle:hover {
  .deleteTask {
    opacity: 1;
    cursor: pointer;
    display: block;
  }
  .stageName::placeholder {
    font-size: 20px;
  }
}
.graphCircle:active {
  .deleteTask {
    opacity: 0.5;
    cursor: pointer;
    display: block;
    rect {
      fill: transparent;
    }
  }
  .stageName::placeholder {
    font-size: 20px;
    font-weight: bold;
  }
}
.graphCircleActive {
  .stageName::placeholder {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
  }
}
.deleteTask {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  path {
    stroke: var(--text-color);
  }
  rect {
    fill: var(--bg-workspace-button-focus);
  }
}
.addTaskRoadmapSVG {
  opacity: 1;
}
.addTaskRoadmapSVG:hover {
  opacity: 0.75;
}
.addTaskRoadmapSVG:active {
  opacity: 0.85;
}
.graphBranchLine {
  height: 24px;
  width: 4px;
  background: var(--light-stroke);
}

.showMoreButton {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--foreground-color50);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.stageName {
  border: none;
  background-color: transparent;
  padding: 6px;
  color: var(--text-color);
  user-select: none;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.stageName::placeholder {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--foreground-color50);
  user-select: none;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.unhandledFile {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  user-select: none;
  background-color: var(--bg-move-roadmap);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileIcon {
  width: 20px;
  height: 20px;
  path {
    stroke: var(--foreground-color50);
  }
}

.noTasks {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding-bottom: 42px;
  padding-top: 12px;
}

.noTasksText {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
.noTasksTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.noTasksSubTitle {
  font-size: 18px;
  font-weight: normal;
  color: var(--foreground-color50);
}

.noTasksSVG {
  opacity: 1;
  path {
    stroke: var(--bg-move-roadmap);
  }
}

.taskWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
