@import "../../../workspace/theme.module.css";
.header {
  height: 100px;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  user-select: none;
  background-color: var(--bg-color-header-and-dropdown-user);
  position: fixed;
  z-index: 10000;
}
.logo {
  height: 64px;
  width: auto;
}
.logoWrapper {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.themeChange {
  cursor: pointer;
}
.title {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-color);
}
.subTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}
.titleWrapper {
  display: flex;
  flex-direction: column;
}

.iconTheme {
  path {
    fill: var(--bg-pagination-circle);
  }
}
.menuHeader {
  path {
    fill: var(--foreground-color50);
  }
}
.menuHeaderActive {
  path {
    fill: var(--text-color);
  }
}
.menuHeader:hover {
  path {
    fill: var(--text-color);
  }
}
.menuHeader:active {
  path {
    fill: var(--title-input-color);
  }
}

@media (min-width: 0px) and (max-width: 999px) {
  .header {
    justify-content: center;
  }
  .themeChange {
    position: absolute;
    right: 24px;
  }
  .menuHeader {
    display: flex;
    position: absolute;
    left: 24px;
  }
  .menuHeaderActive {
    position: absolute;
    left: 24px;
  }
}
@media (min-width: 0px) and (max-width: 479px) {
  .title {
    font-size: 20px;
  }
  .logo {
    height: 54px;
  }
  .iconTheme {
    height: 35px;
    width: 35px;
  }
  .menuHeader {
    width: 35px;
  }
}

@media (min-width: 0px) and (max-width: 350px) {
  .title {
    font-size: 18px;
  }
  .iconTheme {
    height: 30px;
    width: 30px;
  }
  .menuHeader {
    width: 30px;
  }
}
