@import "../../theme.module.css";

.blurredScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.popup {
    background-color: var(--bg-color-and-popup);
    padding: 24px;
    min-width: 448px;
    border-radius: 15px;
}

.addPhotoFieldWrapper {
    width: 647px;
}
.photosList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.photo {
    width: 200px;
    height: 140px;
    border-radius: 8px;
}
.addPhotoField {
    width: 100%;
    height: 250px;
    border: 1.5px dashed var(--foreground-color50);
}
.fileInput {
    width: 100%;
    height: 100%;
}