* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 800px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  padding: 90px 24px 90px 24px;
  border-radius: 48px;
}
.logo {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  border: none;
  cursor: default;
}
h1 {
  font-weight: 900;
  color: #0066fe;
  margin-left: 24px;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}
span.code {
  font-size: 96px;
  line-height: 75px;
}
span.message {
  font-size: 24px;
}
.title {
  font-size: 32px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.discription {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 18px;
  font-weight: normal;
  text-align: center;
}
.content {
  width: 412px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.LogoWrapper {
  display: flex;
  align-items: center;
}
.buttonFilledAccent {
  background-color: #0066fe;
  color: white;
  width: 412px;
  height: 48px;
  border-radius: 12px;
  border: none;
  margin-top: 48px;
  font-size: 2vh;
  cursor: pointer;
}
.buttonFilledAccent:hover {
  background-color: rgba(255, 255, 255, 0.1), rgba(0, 102, 254, 1);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(rgb(0, 102, 254, 1), rgb(0, 102, 254, 1));
  color: white;
}
.buttonFilledAccent:active {
  opacity: 75%;
  background-color: rgba(255, 255, 255, 0.1), rgba(0, 102, 254, 1);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(rgb(0, 102, 254, 1), rgb(0, 102, 254, 1));
  color: white;
}
.buttonFilledAccent:disabled {
  opacity: 30%;
  background-color: rgba(255, 255, 255, 0.1), rgba(0, 102, 254, 1);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(rgb(0, 102, 254, 1), rgb(0, 102, 254, 1));
  color: white;
  cursor: not-allowed;
}

@media (min-width: 0px) and (max-width: 450px) {
  .buttonFilledAccent {
    width: 300px;
    margin-top: 32px;
  }
  .content {
    width: 100%;
    margin-top: 30px;
  }
  .discription {
    font-size: 16px;
  }
  .title {
    font-size: 26px;
  }
  span.code {
    font-size: 80px;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  main {
    padding: 90px 20px 90px 20px;
  }
}

@media (min-height: 0px) and (max-height: 799px) {
  main {
    height: 100%;
  }
}
