* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.heightBlock {
  height: 100vh;
  min-height: 900px;
}
.background {
  background-image: url("/erm-web/image/landing/backgroundLanding.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}
.logoWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.logo {
  width: 64px;
  height: 64px;
}

.textLogo {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

.buttonFilledAccent {
  cursor: pointer;
  width: 124px;
  height: 56px;
  border-radius: 12px;
  background-color: #0066fe;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
.buttonStart {
  width: 361px;
  height: 103px;
  font-size: 32px;
  font-weight: 500;
  border-radius: 24px;
}
.buttonFilledAccent:hover {
  background-color: rgba(255, 255, 255, 0.1), #0066fe;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(#0066fe, #0066fe);
  color: white;
}
.buttonFilledAccent:active {
  opacity: 75%;
  background-color: rgba(255, 255, 255, 0.1), #0066fe;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(#0066fe, #0066fe);
  color: white;
}
.buttonFilledAccent:disabled {
  opacity: 30%;
  background-color: #0066fe;
  color: white;
  cursor: not-allowed;
}

.buttonOutlineAccent {
  cursor: pointer;
  width: 230px;
  height: 56px;
  border-radius: 12px;
  background-color: transparent;
  color: #0066fe;
  border-style: solid;
  border-color: #0066fe;
  font-size: 20px;
  font-weight: 500;
}

.buttonOutlineAccent:hover {
  background-color: rgba(255, 255, 255, 0.15), #0066fe;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    linear-gradient(#0066fe, #0066fe);
  color: rgb(255, 255, 255);
}

.buttonOutlineAccent:active {
  opacity: 75%;
  background-color: rgba(255, 255, 255, 0.15), #0066fe;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    linear-gradient(#0066fe, #0066fe);
  color: rgb(255, 255, 255);
}

.buttonOutlineAccent:disabled {
  opacity: 30%;
  border-style: solid;
  border-color: #0066fe;
  background-color: transparent;
  color: #0066fe;
  cursor: not-allowed;
}
.infoProject {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  flex-direction: column;
}
.wrapperInfo {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 78px;
  align-items: center;
}
.wrapperContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapperContentPlatformLeft {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.wrapperContentPlatformRight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 135px;
}
.wrapperInfoProjectBlock {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 644px;
  height: 773px;
  background-image: url("/erm-web/image/landing/file.svg");
}
.wrapperInfoDeveloperBlock {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 770px;
  height: 774px;
  background-image: url("/erm-web/image/landing/map.svg");
}

.infoProjectBlock {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  max-width: 40vw;
}
.titleProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.textTitleProject {
  font-size: 100px;
  font-weight: 800;
  color: #0066fe;
  text-align: center;
}

.descriptionProject {
  font-size: 50px;
  font-weight: 600;
  color: #0066fe;
  text-align: center;
}

.textInfoProject {
  font-size: 40px;
  font-weight: 500;
  color: black;
  text-align: center;
  max-width: 60vw;
}
.footer {
  font-size: 50px;
}
.textInfoProjectWrapper {
  display: flex;
  width: 90vw;
  justify-content: center;
}
.textTitlePlatform {
  font-size: 50px;
  font-weight: bold;
  color: #0066fe;
}
.bacgroungText {
  font-size: 100px;
  font-weight: bold;
  color: rgb(0, 102, 254, 0.1);
}
.textInfoPlatform {
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-align: center;
  max-width: 60vw;
}
.wrapperImg {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.imageCircle {
  width: 300px;
  height: 300px;
}
.textTitleProjectBlock {
  font-size: 50px;
  font-weight: 600;
  color: #0066fe;
}
.descriptionProjectBlock {
  font-size: 36px;
  font-weight: normal;
  color: black;
  max-width: 40vw;
}
.pb36 {
  padding-bottom: 36px;
}
.pt15 {
  padding-top: 15vh;
}
.pr12 {
  padding-right: calc(12vw - 50px);
}
.ttx-20 {
  transform: translateX(-20px);
}
.ttx90 {
  transform: translateX(90px);
}
.ttx-65 {
  transform: translateX(-65px);
}

.wrapperOfImagesAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.emptyButton {
  background: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
}

.inlineButtons {
  display: block;
}
.iconButton {
  display: none;
}
.mainInfoWrapperSmallScreen {
  display: none;
}
.mainInfoWrapperBigScreen {
  display: block;
}

@media screen and ((max-width: 1100px)) {
  .heightBlock {
    min-height: unset;
  }
  .header {
    height: 16vmin;
    min-height: 50px;
    max-height: 90px;
  }
  .logoWrapper {
    max-height: 40px;
  }
  .logo {
    max-width: 40px;
    max-height: 40px;
  }
  .textLogo {
    font-size: 20px;
  }
  .wrapperInfo {
    width: 90%;
  }
  .inlineButtons {
    display: none;
  }
  .iconButton {
    display: flex;
  }
  .mainInfoWrapperSmallScreen {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .mainInfoWrapperBigScreen {
    display: none;
  }
  .wrapperImg {
    display: none;
  }
  .buttonOutlineAccent {
    max-width: 190px;
    max-height: 35px;
    font-size: 14px;
  }
  .buttonFilledAccent {
    max-width: 84px;
    max-height: 35px;
    font-size: 14px;
  }
  .textTitleProject {
    /* font-size: calc(75px * 0.8); */
    font-size: calc(12px + 10vmin);
    max-width: 630px;
  }
  .descriptionProject {
    /* font-size: calc(40px * 0.8); */
    font-size: calc(10px + 3vmin);
  }
  .textInfoProject {
    /* font-size: calc(30px * 0.8); */
    font-size: calc(6px + 3vmin);
    max-width: 90vw;
  }
  .buttonStart {
    max-width: 230px;
    max-height: 50px;
    font-size: 18px;
  }
  .background {
    background-image: url("/erm-web/image/landing/landingBackgroundSmall.svg");
  }
  .textTitlePlatform {
    font-size: calc(40px * 0.8);
  }
  .bacgroungText {
    font-size: calc(75px * 0.8);
  }
  .textInfoPlatform {
    font-size: calc(6px + 3vmin);
    max-width: 90vw;
  }
  .imageCircle {
    width: 55vw;
    height: 55vw;
    max-width: 350px;
    max-height: 350px;
  }
  .wrapperContentPlatformLeft {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapperInfoProjectBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40vw;
  }
  .wrapperInfoDeveloperBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapperContentPlatformRight {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .wrapperContentPlatform {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .textTitleProjectBlock {
    font-size: calc(50px * 0.8);
  }
  .descriptionProjectBlock {
    font-size: calc(6px + 3vmin);
    max-width: 90vw;
  }
  .footer {
    font-size: calc(10px + 3vmin);
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
  }
}

@media (min-width: 0px) and (max-width: 620px) {
  .bacgroungText {
    display: none;
  }
}
