<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyRoadMap</title>

<!--    <link rel="stylesheet" type="text/css" th:href="@{/erm-web/css/common.css}">-->
</head>
<body>
    <div id="root"></div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <script type="text/javascript" th:src="@{/erm-web/js/auth_service.js}"></script>
</body>
</html>