<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/error/style.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      th:href="@{/erm-web/image/favicon_512x512.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      th:href="@{/erm-web/image/favicon_128x128.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      th:href="@{/erm-web/image/favicon_64x64.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      th:href="@{/erm-web/image/favicon_32x32.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      th:href="@{/erm-web/image/favicon_16x16.png}"
    />
    <title>EasyRoadMap</title>
  </head>
  <body>
    <main>
      <div class="LogoWrapper">
        <img class="logo" src="../../react/assets/logo.svg" alt="EasyRoadMap" />
        <h1>
          418 <br />
          <span>I’m a Teapot</span>
        </h1>
      </div>
      <div class="content">
        <div class="title">Произошла ошибка!</div>
        <div class="discription">Разработчики - чайники.</div>
      </div>
      <button class="buttonFilledAccent">Вернутся назад</button>
    </main>
  </body>
</html>
