<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      th:href="@{/erm-web/image/favicon_512x512.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      th:href="@{/erm-web/image/favicon_128x128.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      th:href="@{/erm-web/image/favicon_64x64.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      th:href="@{/erm-web/image/favicon_32x32.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      th:href="@{/erm-web/image/favicon_16x16.png}"
    />
    <link rel="stylesheet" th:href="@{/erm-web/css/font.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/erm-web/css/styleLanding.css}"
    />

    <title>EasyRoadMap</title>

    <style>
      h1,
      p,
      input[type="submit"] {
        font-family: "Golos Text", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="background">
      <div class="heightBlock">
        <div class="header">
          <div class="wrapper">
            <div class="logoWrapper">
              <img th:src="@{/erm-web/image/logo.svg}" class="logo" />
              <span class="textLogo">EASYROADMAP</span>
            </div>
            <div class="buttonWrapper inlineButtons">
              <button
                class="buttonOutlineAccent"
                onclick="window.location.href='/auth/sign-up'"
              >
                Создать аккаунт
              </button>
              <button
                class="buttonFilledAccent"
                onclick="window.location.href='/auth/sign-in'"
              >
                Войти
              </button>
            </div>
            <div class="buttonWrapper iconButton">
              <button
                class="emptyButton"
                onclick="window.location.href='/auth/sign-in'"
              >
                <img th:src="@{/erm-web/image/landing/user.svg}" alt="" />
              </button>
            </div>
          </div>
        </div>
        <div class="wrapperContent">
          <div class="wrapperInfo">
            <div class="infoProject">
              <div class="titleProject">
                <span class="textTitleProject">EASY&nbsp;ROAD MAP</span>
                <span class="descriptionProject"
                  >ПУТЕВОДИТЕЛЬ ДЛЯ ВАШИХ ПРОЕКТОВ</span
                >
              </div>
              <div class="textInfoProjectWrapper">
                <span class="textInfoProject"
                  >Делитесь с аудиторией состоянием разработки с помощью
                  красивых дорожных карт!</span
                >
              </div>
            </div>
            <div>
              <button
                onclick="window.location.href='/workspace'"
                class="buttonFilledAccent buttonStart"
              >
                Начать работу
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="pb36 pt15">
        <div class="wrapperContentPlatform">
          <div class="wrapperInfo">
            <div class="infoProject">
              <div
                style="
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <sapn class="textTitlePlatform" style="position: absolute"
                  >НАША&nbsp;ПЛАТФОРМА</sapn
                >
                <span class="textTitlePlatform bacgroungText"
                  >НАША&nbsp;ПЛАТФОРМА</span
                >
              </div>
              <hr
                style="width: 230px; height: 4px; background-color: #0066fe"
              />
              <div class="textInfoProjectWrapper">
                <span class="textInfoPlatform"
                  >Мы предоставляем возможность создавать наглядные дорожные
                  карты для проектов, что позволит визуализировать работу над
                  ними и демонстрировать ход работы для заинтересованной
                  аудитории.</span
                >
              </div>
            </div>
            <div class="wrapperImg">
              <img
                th:src="@{/erm-web/image/landing/ProjectBlock.svg}"
                class="imageCircle"
              />
              <img
                th:src="@{/erm-web/image/landing/DeveloperBlock.svg}"
                class="imageCircle"
              />
              <img
                th:src="@{/erm-web/image/landing/TaskBlock.svg}"
                class="imageCircle"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mainInfoWrapperBigScreen">
        <div class="heightBlock">
          <div class="wrapperContentPlatformLeft pr12">
            <div class="infoProjectBlock">
              <span class="textTitleProjectBlock">СОЗДАВАЙТЕ ПРОЕКТЫ</span>
              <span class="descriptionProjectBlock"
                >Организуйте все процессы разработки в виде списка проектов с
                уникальным оформлением, добавляйте участников и распределяйте им
                роли.</span
              >
            </div>
            <div class="wrapperInfoProjectBlock ttx-20"></div>
          </div>
        </div>

        <div class="heightBlock">
          <div class="wrapperContentPlatformRight">
            <div class="infoProjectBlock">
              <span class="textTitleProjectBlock">ПЛАНИРУЙТЕ РАЗРАБОТКУ</span>
              <span class="descriptionProjectBlock"
                >Собирайте дорожную карту для проекта из отдельных этапов с
                уникальным именем и собственным прогрессом выполнения.</span
              >
            </div>
            <div class="wrapperInfoDeveloperBlock ttx-65"></div>
          </div>
        </div>

        <div class="heightBlock pr12">
          <div class="wrapperContentPlatformLeft">
            <div class="infoProjectBlock">
              <span class="textTitleProjectBlock">ДОБАВЛЯЙТЕ ЗАДАЧИ</span>
              <span class="descriptionProjectBlock"
                >Управляйте списком задач для каждого этапа, изменяйте их
                статус, добавляйте описание и прикрепляйте вложения.</span
              >
            </div>
            <div
              class="wrapperInfoProjectBlock ttx90"
              style="
                background-image: url('/erm-web/image/landing/task.svg');
                width: 715px;
                height: 792px;
              "
            ></div>
          </div>
        </div>
      </div>

      <div class="mainInfoWrapperSmallScreen">
        <div class="wrapperOfImagesAndText">
          <img
            th:src="@{/erm-web/image/landing/ProjectBlock.svg}"
            class="imageCircle"
            style="margin-bottom: 18px"
          />
          <div class="descriptionProjectBlock" style="margin-bottom: 36px">
            Организуйте все процессы разработки в виде списка проектов с
            уникальным оформлением, добавляйте участников и распределяйте им
            роли.
          </div>
          <img
            th:src="@{/erm-web/image/landing/DeveloperBlock.svg}"
            class="imageCircle"
            style="margin-bottom: 18px"
          />
          <div class="descriptionProjectBlock" style="margin-bottom: 36px">
            Собирайте дорожную карту для проекта из отдельных этапов с
            уникальным именем и собственным прогрессом выполнения.
          </div>
          <img
            th:src="@{/erm-web/image/landing/TaskBlock.svg}"
            class="imageCircle"
            style="margin-bottom: 18px"
          />
          <div class="descriptionProjectBlock">
            Управляйте списком задач для каждого этапа, изменяйте их статус,
            добавляйте описание и прикрепляйте вложения.
          </div>
        </div>
      </div>

      <div class="heightBlock">
        <div class="wrapperContent">
          <div class="wrapperInfo" style="padding-top: 176px">
            <div class="infoProject">
              <div class="titleProject">
                <sapn class="textTitleProject">EASY ROAD MAP</sapn>
              </div>
              <div class="textInfoProjectWrapper">
                <span class="textInfoProject footer"
                  >Расскажите аудитории о Ваших планах!</span
                >
              </div>
            </div>
            <div>
              <button
                onclick="window.location.href='/workspace'"
                class="buttonFilledAccent buttonStart"
              >
                Приступить к работе
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <body style="display: flex; justify-content: center; margin: 0; height: 100%;">
    <div id="root" style="display: flex; flex-direction: column; gap: 8px; align-items: center; justify-content: center;">
        <h1 style="margin: 0;" >Привет, мир!</h1>
        <p style="margin: 0 0 12px; text-align: center;">Вы на лендинге, но его украли :)<br>Давайте лучше посмотрим Личный кабинет!</p>
        <form th:action="@{/workspace}">
            <input style="background: #0066FE; border: none; border-radius: 8px; color: WHITE; padding: 12px 24px; font-size: 16px; font-weight: 500;" type="submit" value="Перейти в Личный кабинет" />
        </form>
    </div>
</body>  -->
