@import "../../theme.module.css";

.header {
  height: 100px;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-between;
  /* padding: 0 calc((100vw - 1060px) / 2); */
  padding: 24px;
  user-select: none;
  background-color: var(--bg-color-header-and-dropdown-user);
  position: fixed;
  z-index: 10000;
}
.logoWrapper {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
}
.subTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}
.titleWrapper {
  display: flex;
  flex-direction: column;
}
.logo {
  height: 64px;
  width: auto;
}
.userButton {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.avatarCircle {
  height: 64px;
  width: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--light-stroke);
}
.avatarCircleUser {
  height: 64px;
  width: auto;
  aspect-ratio: 1;
  border-radius: 50%;
}
.pixelAvatar {
  image-rendering: pixelated;
}
.logoTextWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.username {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
}
.workspaceName {
  font-size: 16px;
  font-weight: normal;
  color: var(--foreground-color50);
}

@media (min-width: 0px) and (max-width: 999px) {
  .header {
    justify-content: center;
  }
  .menuHeader {
    display: flex;
    position: absolute;
    left: 24px;
  }
  .userButton {
    position: absolute;
    right: 12px;
  }
}
@media (min-width: 0px) and (max-width: 479px) {
  .title {
    font-size: 20px;
  }
  .logo {
    height: 54px;
  }
  .menuHeader {
    width: 35px;
  }
}

@media (min-width: 0px) and (max-width: 479px) {
  .title {
    font-size: 16px;
  }
  .subTitle {
    font-size: 16px;
  }
  .logo {
    height: 50px;
  }
  .avatarCircle {
    height: 50px;
  }
  .avatarCircleUser {
    height: 50px;
  }
}
