@import "../../theme.module.css";

.header {
  height: 100px;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc((100vw - 1060px) / 2);
  user-select: none;
  background-color: var(--bg-color-header-and-dropdown-user);
  position: fixed;
  z-index: 10000;
}
.logoWrapper {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
}
.subTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}
.titleWrapper {
  display: flex;
  flex-direction: column;
}
.logo {
  height: 64px;
  width: auto;
}
.userButton {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
.avatarCircle {
  height: 48px;
  width: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.logoTextWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.username {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
}
.workspaceName {
  font-size: 16px;
  font-weight: normal;
  color: var(--foreground-color50);
}