@import "../../../workspace/theme.module.css";

.mainInfo {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: var(--bg-color-project);
  border-radius: 24px;
  border-style: solid;
  border-color: var(--light-stroke);
  border-width: 1px;
}

.projectAvatar {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  border-style: solid;
  border-color: var(--light-stroke);
  border-width: 1px;
}
.projectAvatarUser {
  width: 120px;
  height: 120px;
  border-radius: 15px;
}

.pixelAvatar {
  image-rendering: pixelated;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: calc(100% - 100px);
}

.infoTitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.infoDescription {
  font-size: 16px;
  font-weight: normal;
  color: var(--foreground-color50);
  word-break: break-word;
}

.infoLinkWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.infoLink {
  opacity: 1;
  display: flex;
  flex-direction: row;
  gap: 6px;
  color: #0066fe;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

.infoLinks {
  opacity: 1;
  color: #0066fe;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow-x: hidden;

  .infoLinks:visited {
    color: #0066fe;
  }
}

.infoLinks:hover {
  text-decoration: underline;
}

.infoLink:active {
  opacity: 0.75;
}
@media (min-width: 520px) and (max-width: 999px) {
  .infoLinks {
    max-width: 150px;
  }
}

@media (min-width: 0px) and (max-width: 519px) {
  .mainInfo {
    flex-direction: column;
  }
  .infoLinks {
    max-width: 70px;
  }
  .infoWrapper {
    width: 100%;
  }
}
