@import "./theme.module.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Golos Text", sans-serif;
  border-radius: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
strong {
  font-weight: normal;
  color: var(--text-color);
}
h2 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: rgb(0, 0, 0, 0.5);
}
.background {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  z-index: -100;
  justify-content: center;
  align-items: center;
}
.backgroundSVG {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -100;
  left: 0;
  top: 0;
}
.mainPage {
  width: 600px;
  height: 800px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-form);
  transition: background-color 200ms linear;
  position: absolute;
  padding: 90px 90px 90px 90px;
  border-radius: 48px;
}
.button_theme {
  width: 4vh;
  height: 4vh;
  border-radius: 10px;
  border-color: #0066fe;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  font-size: 2vh;
  text-align: center;
  z-index: 1;
  margin: 0.5vh;
  justify-content: center;
  align-items: center;
}
.button_theme:hover {
  background-color: #0066fe;
  transition: 200ms linear;
}
.theme {
  top: 2vh;
  right: 2vh;
  display: flex;
  border-radius: 15px;
  width: 7vw;
  height: 6vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.title {
  width: 40vh;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 36px;
  color: var(--text-color);
  transition: background-color 300ms linear;
}
.discription {
  width: 420px;
}
.descriptionBottom {
  width: 420px;
  margin-top: 12px;
  cursor: pointer;
}
.discriptionPrivacyPolicy {
  max-width: 420px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  color: rgb(0, 0, 0, 0.5);
}
.forgotPassword {
  margin-top: -6px;
  text-align: right;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.forgotPassword:hover {
  cursor: pointer;
  text-decoration: underline;
}
.forgotPassword:active {
  opacity: 75%;
  cursor: pointer;
  text-decoration: underline;
}
.forgotPasswordDisabled {
  margin-top: -6px;
  text-align: right;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.forgotPasswordDisabled:hover {
  cursor: pointer;
  text-decoration: underline;
}
.forgotPasswordDisabled:active {
  opacity: 75%;
  cursor: pointer;
  text-decoration: underline;
}
.checkbox {
  width: 32px;
  height: 32px;
}
.checkbox + label {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  border-radius: 12px;
}
.checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyMCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNS42MTUzOEw3Ljg1NzE0IDEzTDE5IDEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox:not(:disabled):active + label::before {
  opacity: 75%;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyMCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNS42MTUzOEw3Ljg1NzE0IDEzTDE5IDEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:not(:checked):focus + label::before {
  opacity: 75%;
  background-color: rgba(0, 0, 0, 0.15);
  background-image: none;
}
/* стили для чекбокса, находящегося в фокусе */
.checkbox:focus + label::before {
  opacity: 75%;
  background-color: #0b76ef;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled + label::before {
  opacity: 30%;
  background-color: #0b76ef;
}
/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked):hover + label::before {
  background-color: rgba(0, 0, 0, 0.15);
  background-image: none;
}
.checkbox + label::before:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.checkboxWrapper {
  width: 420px;
}

.repeatLinkPrivacyPolicy {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}
.repeatLinkPrivacyPolicy:hover {
  text-decoration: underline;
}
.repeatLinkPrivacyPolicy:active {
  opacity: 75%;
  text-decoration: underline;
}
.repeatLinkPrivacyPolicy:disabled {
  color: rgba(0, 0, 0, 0.5);
}
.repeatLink {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: normal;
}
.repeatLink:hover {
  text-decoration: underline;
}
.repeatLink:active {
  opacity: 75%;
  text-decoration: underline;
}
.repeatLink:disabled {
  color: rgba(0, 0, 0, 0.5);
}
.errorText {
  font-size: 1.5vh;
  color: #ff4848;
  padding-bottom: 0.5vh;
  font-weight: normal;
}
