@import "./theme.module.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Golos Text", sans-serif;
  border-radius: 0;
}
.background {
  /* background: linear-gradient(white, #0066fe); */
  background-image: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  /* background-color: white; */
  background-color: var(--color-form);
  transition: background-color 200ms linear;
  height: 80%;
  position: absolute;
  padding: 17vh 50px 0 50px;
  /* right: 0; */
  border-radius: 20px;
}
.button_theme {
  width: 4vh;
  height: 4vh;
  border-radius: 10px;
  border-color: #0066fe;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  font-size: 2vh;
  text-align: center;
  z-index: 1;
  margin: 0.5vh;
  justify-content: center;
  align-items: center;
}
.button_theme:hover {
  background-color: #0066fe;
  transition: 200ms linear;
}
.theme {
  top: 2vh;
  right: 2vh;
  display: flex;
  border-radius: 15px;
  width: 7vw;
  height: 6vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.button {
  width: 40vw;
  height: 6vh;
  border-radius: 15px;
  border: none;
  margin-top: 0.5vh;
  color: white;
  background-color: #0066fe;
  font-size: 2vh;
  max-width: 300px;
}
.title {
  width: 40vh;
  font-size: 3vh;
  text-align: center;
  font-weight: Semibold;
  margin-top: 3vh;
  margin-bottom: 3vh;
  /* color: rgb(0, 0, 0); */
  color: var(--text-color);
  transition: background-color 300ms linear;
}
.discription {
  margin-top: 1vh;
  text-align: center;
  font-size: 2vh;
  color: rgb(0, 0, 0, 0.5);
}
.verification {
  width: 6.5vh;
  height: 8vh;
  border-style: solid;
  border-color: #858585;
  background-color: white;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
  border-radius: 15px;
  text-align: center;
  font-size: 5vh;
}
.forgotPassword {
  text-align: center;
  margin-top: 2vh;
  text-decoration: underline;
  color: black;
  font-size: 2vh;
}
.forgotPasswordDisabled {
  text-align: center;
  margin-top: 2vh;
  text-decoration: underline;
  color: rgba(0, 0, 0, .5);
  font-size: 2vh;
}
.input {
  width: 40vw;
  height: 6vh;
  border-radius: 15px;
  border-style: solid;
  border-color: #858585;
  border-width: 1px;
  margin-bottom: 1vh;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

input::placeholder {
  text-align: left;
  padding-left: 2vh;
  font-size: 2vh;
  color: #858585;
}

.checkbox {
  width: 40px;
  height: 40.93px;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.7vw;
  height: 1.7vw;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.repeatLink {
  text-decoration: underline;
  color: rgb(0, 0, 0, 0.75);
}
.errorText {
  font-size: 1.5vh;
  color: #FF4848;
  padding-bottom: 0.5vh;
  font-weight: normal;
}