.projectsvg {
  fill: var(--bg-icon-sidebar);
  stroke: var(--bg-icon-sidebar);
}

.buttonDotsSVG {
  path {
    fill: var(--text-color);
    stroke: var(--text-color);
  }
}
.closepopupsvg {
  path {
    fill: var(--text-color);
    stroke: var(--text-color);
  }
}

.addPhotoFieldBorder {
  stroke: var(--foreground-color50);
}
.addphotofieldsvg {
  stroke: var(--title-input-color);
}
.addPhotoFieldText {
  fill: var(--title-input-color);
}
.addPhotoFieldOr {
  fill: var(--foreground-color50);
}
.addPhotoFieldLine {
  stroke: var(--text-color);
}
.addPhotoFieldTextButton {
  fill: var(--text-color);
}
.calendarSVG {
  stroke: var(--foreground-color50);
}

.darkThemelayoutBorder {
  stroke: none;
}
.darkThemelayoutBorderFill {
  fill: none;
}

.ThemeLayoutSVG {
  .ThemeLayoutSVGCheck {
    opacity: 0;
  }
  .ThemeLayoutSVGBorder {
    stroke: none;
  }
  .ThemeLayoutSVGBorderfill {
    fill: none;
  }
}
.themeButtonActive {
  .ThemeLayoutSVGCheck {
    opacity: 1;
  }
  .ThemeLayoutSVGBorder {
    stroke: var(--accent-color);
  }
  .ThemeLayoutSVGBorderfill {
    fill: var(--accent-color);
  }
}
.eyeSVG {
  path {
    stroke: var(--text-color);
  }
  .eyeSVGCircle {
    fill: var(--text-color);
  }
}
.eyeOffSVG {
  .eyeOffSVGFill {
    fill: var(--text-color);
  }
  .eyeOffSVGStroke {
    stroke: var(--text-color);
  }
}
.closePopupSVGStroke {
  stroke: var(--text-color);
}
.closePopupSVGFill {
  fill: var(--text-color);
}

/* Состояние кружков в родмапе */
.taskRoadmapDoneSVG {
  .taskRoadmapSVG {
    stroke: #99e550;
  }
  .taskRoadmapSVGOutside {
    opacity: 1;
    stroke: #99e550;
    stroke-width: 12px;
  }
  .taskRoadmapSVGFill {
    fill: #99e550;
  }
  .taskRoadmapSVGProgress {
    stroke: rgba(153, 229, 80, 0.2);
  }
  .taskRoadmapSVGProgressFill {
    fill: rgba(153, 229, 80, 0.2);
  }
}
.taskRoadmapDoneSVG:hover {
  .taskRoadmapSVGOutside {
    opacity: 0.85;
  }
}
.taskRoadmapDoneSVG:active {
  .taskRoadmapSVGOutside {
    stroke-width: 13px;
  }
}

.taskRoadmapDoneSVGActive {
  .taskRoadmapSVG {
    stroke: var(--bg-task-done-roadmap-active);
  }
  .taskRoadmapSVGOutside {
    stroke: var(--bg-task-done-roadmap-active);
  }
  .taskRoadmapSVGFill {
    fill: var(--bg-task-done-roadmap-active);
  }
}

.taskRoadmapProgressSVG {
  .taskRoadmapSVG {
    stroke: #f4e456;
  }
  .taskRoadmapSVGOutside {
    opacity: 1;
    stroke: #f4e456;
    stroke-width: 12px;
  }
  .taskRoadmapSVGFill {
    fill: #f4e456;
  }
  .taskRoadmapSVGProgress {
    stroke: rgba(244, 228, 86, 0.2);
  }
  .taskRoadmapSVGProgressFill {
    fill: rgba(244, 228, 86, 0.2);
  }
}
.taskRoadmapProgressSVG:hover {
  .taskRoadmapSVGOutside {
    opacity: 0.85;
  }
}
.taskRoadmapProgressSVG:active {
  .taskRoadmapSVG {
    stroke: #f4e456;
  }
  .taskRoadmapSVGOutside {
    stroke: #f4e456;
    stroke-width: 13px;
  }
  .taskRoadmapSVGFill {
    fill: #f4e456;
  }
  .taskRoadmapSVGProgress {
    stroke: rgba(244, 228, 86, 0.2);
  }
  .taskRoadmapSVGProgressFill {
    fill: rgba(244, 228, 86, 0.2);
  }
}
.taskRoadmapProgressSVGActive {
  .taskRoadmapSVG {
    stroke: var(--bg-task-progress-roadmap-active);
  }
  .taskRoadmapSVGOutside {
    stroke: var(--bg-task-progress-roadmap-active);
  }
  .taskRoadmapSVGFill {
    fill: var(--bg-task-progress-roadmap-active);
  }
}

.taskRoadmapPlannedSVG {
  .taskRoadmapSVG {
    stroke: #a9adb3;
  }
  .taskRoadmapSVGOutside {
    opacity: 1;
    stroke: #a9adb3;
    stroke-width: 12px;
  }
  .taskRoadmapSVGFill {
    fill: #a9adb3;
  }
  .taskRoadmapSVGProgress {
    stroke: rgba(169, 173, 179, 0.2);
  }
  .taskRoadmapSVGProgressFill {
    fill: rgba(169, 173, 179, 0.2);
  }
}
.taskRoadmapPlannedSVG:hover {
  .taskRoadmapSVGOutside {
    opacity: 0.85;
  }
}
.taskRoadmapPlannedSVG:active {
  .taskRoadmapSVG {
    stroke: #a9adb3;
  }
  .taskRoadmapSVGOutside {
    stroke: #a9adb3;
    stroke-width: 13px;
  }
  .taskRoadmapSVGFill {
    fill: #a9adb3;
  }
  .taskRoadmapSVGProgress {
    stroke: rgba(169, 173, 179, 0.2);
  }
  .taskRoadmapSVGProgressFill {
    fill: rgba(169, 173, 179, 0.2);
  }
}
.taskRoadmapPlannedSVGActive {
  .taskRoadmapSVG {
    stroke: var(--bg-task-planned-roadmap-active);
  }
  .taskRoadmapSVGOutside {
    stroke: var(--bg-task-planned-roadmap-active);
  }
  .taskRoadmapSVGFill {
    fill: var(--bg-task-planned-roadmap-active);
  }
}

.addTaskRoadmapSVG {
  .addTaskRoadmapSVGStroke {
    stroke: #a9adb3;
  }
  .addTaskRoadmapSVGStrokeOutside {
    opacity: 1;
    stroke: #a9adb3;
  }
}
.addTaskRoadmapSVG:hover {
  .addTaskRoadmapSVGStrokeOutside {
    opacity: 0.85;
    width: 61;
    height: 61;
  }
}
.addTaskRoadmapSVG:active {
  .addTaskRoadmapSVGStroke {
    stroke: var(--bg-task-planned-roadmap-active);
  }
  .addTaskRoadmapSVGStrokeOutside {
    stroke: var(--bg-task-planned-roadmap-active);
    width: 61;
    height: 61;
  }
}

.roadMapMoveIcon {
  g {
    opacity: 0.5;
  }
  rect {
    fill: var(--switch-hover-color);
    fill-opacity: 0.05;
  }
  path {
    stroke: var(--text-color);
  }
}
.roadMapMoveIcon:hover {
  g {
    opacity: 1;
  }
  rect {
    fill: var(--bg-move-roadmap);
    fill-opacity: 0.5;
  }
}
.roadMapMoveIcon:active {
  g {
    opacity: 0.75;
  }
  rect {
    fill: var(--bg-move-roadmap);
    fill-opacity: 0.5;
  }
}

.roadMapMoveIcon:disabled {
  g {
    opacity: 0.3;
  }
  rect {
    fill: var(--switch-hover-color);
    fill-opacity: 0.05;
  }
}

/* Цвета акцентов */
.red {
  cursor: pointer;
  .accentFillCheck {
    opacity: 0;
  }
  .accentFillCheckStroke {
    opacity: 0;
  }
  .accentFill {
    fill: #ff4848;
  }
  .accentFillIn {
    fill: white;
  }
}
.orange {
  cursor: pointer;
  .accentFillCheck {
    opacity: 0;
  }
  .accentFillCheckStroke {
    opacity: 0;
  }
  .accentFill {
    fill: #ff6f4e;
  }
  .accentFillIn {
    fill: white;
  }
}
.yellow {
  cursor: pointer;
  .accentFillCheck {
    opacity: 0;
  }
  .accentFillCheckStroke {
    opacity: 0;
  }
  .accentFill {
    fill: #facf36;
  }
  .accentFillIn {
    fill: black;
  }
}
.green {
  cursor: pointer;
  .accentFillCheck {
    opacity: 0;
  }
  .accentFillCheckStroke {
    opacity: 0;
  }
  .accentFill {
    fill: #0fffa9;
  }
  .accentFillIn {
    fill: black;
  }
}
.lightBlue {
  cursor: pointer;
  .accentFillCheck {
    opacity: 0;
  }
  .accentFillCheckStroke {
    opacity: 0;
  }
  .accentFill {
    fill: #3686f7;
  }
  .accentFillIn {
    fill: white;
  }
}
.blue {
  cursor: pointer;
  .accentFillCheck {
    opacity: 0;
  }
  .accentFillCheckStroke {
    opacity: 0;
  }
  .accentFill {
    fill: #0066fe;
  }
  .accentFillIn {
    fill: white;
  }
}
.pink {
  cursor: pointer;
  .accentFillCheck {
    opacity: 0;
  }
  .accentFillCheckStroke {
    opacity: 0;
  }
  .accentFill {
    fill: #ed40f0;
  }
  .accentFillIn {
    fill: white;
  }
}
.purple {
  cursor: pointer;
  .accentFillCheck {
    opacity: 0;
  }
  .accentFillCheckStroke {
    opacity: 0;
  }
  .accentFill {
    fill: #8019f5;
  }
  .accentFillIn {
    fill: white;
  }
}
/* Активные состояния акцентов*/
.redActive {
  .accentFillCheck {
    opacity: 1;
    fill: #ff4848;
  }
  .accentFillCheckStroke {
    opacity: 1;
    stroke: white;
  }
  .accentFill {
    fill: #ff4848;
  }
  .accentFillIn {
    fill: white;
  }
}
.orangeActive {
  .accentFillCheck {
    opacity: 1;
    fill: #ff6f4e;
  }
  .accentFillCheckStroke {
    opacity: 1;
    stroke: white;
  }
  .accentFill {
    fill: #ff6f4e;
  }
  .accentFillIn {
    fill: white;
  }
}
.yellowActive {
  .accentFillCheck {
    opacity: 1;
    fill: #facf36;
  }
  .accentFillCheckStroke {
    opacity: 1;
    stroke: black;
  }
  .accentFill {
    fill: #facf36;
  }
  .accentFillIn {
    fill: black;
  }
}
.greenActive {
  .accentFillCheck {
    opacity: 1;
    fill: #0fffa9;
  }
  .accentFillCheckStroke {
    opacity: 1;
    stroke: black;
  }
  .accentFill {
    fill: #0fffa9;
  }
  .accentFillIn {
    fill: black;
  }
}
.lightBlueActive {
  .accentFillCheck {
    opacity: 1;
    fill: #3686f7;
  }
  .accentFillCheckStroke {
    opacity: 1;
    stroke: white;
  }
  .accentFill {
    fill: #3686f7;
  }
  .accentFillIn {
    fill: white;
  }
}
.blueActive {
  .accentFillCheck {
    opacity: 1;
    fill: #0066fe;
  }
  .accentFillCheckStroke {
    opacity: 1;
    stroke: white;
  }
  .accentFill {
    fill: #0066fe;
  }
  .accentFillIn {
    fill: white;
  }
}
.pinkActive {
  .accentFillCheck {
    opacity: 1;
    fill: #ed40f0;
  }
  .accentFillCheckStroke {
    opacity: 1;
    stroke: white;
  }
  .accentFill {
    fill: #ed40f0;
  }
  .accentFillIn {
    fill: white;
  }
}
.purpleActive {
  .accentFillCheck {
    opacity: 1;
    fill: #8019f5;
  }
  .accentFillCheckStroke {
    opacity: 1;
    stroke: white;
  }
  .accentFill {
    fill: #8019f5;
  }
  .accentFillIn {
    fill: white;
  }
}
