.projectsvg {
  fill: var(--bg-icon-sidebar);
  stroke: var(--bg-icon-sidebar);
}
.addPersonSVG {
  path {
    fill: var(--accent-color);
  }
  rect {
    fill: transparent;
    stroke: var(--accent-color);
  }
}
.addPersonSVG:hover {
  path {
    fill: rgba(255, 255, 255);
  }
  rect {
    fill: #1a75fe;
    stroke: transparent;
  }
}

.addPersonSVG:active {
  opacity: 0.75;
  path {
    fill: rgba(255, 255, 255);
  }
  rect {
    fill: #1a75fe;
    stroke: transparent;
  }
}

.addPersonSVG:disabled {
  opacity: 0.3;
  path {
    fill: #1a75fe;
  }
  rect {
    fill: transparent;
    stroke: #1a75fe;
  }
}

.buttonDotsSVG {
  path {
    fill: var(--text-color);
    stroke: var(--text-color);
  }
}
.closepopupsvg {
  path {
    fill: var(--text-color);
    stroke: var(--text-color);
  }
}

.addPhotoFieldBorder {
  stroke: var(--foreground-color50);
}
.addphotofieldsvg {
  stroke: var(--title-input-color);
}
.addPhotoFieldText {
  fill: var(--title-input-color);
}
.addPhotoFieldOr {
  fill: var(--foreground-color50);
}
.addPhotoFieldLine {
  stroke: var(--text-color);
}
.addPhotoFieldTextButton {
  fill: var(--text-color);
}
.calendarSVG {
  stroke: var(--foreground-color50);
}

.darkThemelayoutBorder {
  stroke: none;
}
.darkThemelayoutBorderFill {
  fill: none;
}

.ThemeLayoutSVG {
  .ThemeLayoutSVGCheck {
    opacity: 0;
  }
  .ThemeLayoutSVGBorder {
    stroke: none;
  }
  .ThemeLayoutSVGBorderfill {
    fill: none;
  }
}
.themeButtonActive {
  .ThemeLayoutSVGCheck {
    opacity: 1;
  }
  .ThemeLayoutSVGBorder {
    stroke: var(--accent-color);
  }
  .ThemeLayoutSVGBorderfill {
    fill: var(--accent-color);
  }
}

/* Состояние кружков в родмапе */
.taskRoadmapDoneSVG {
  .taskRoadmapSVG {
    stroke: #99e550;
  }
  .taskRoadmapSVGFill {
    fill: #99e550;
  }
}
.taskRoadmapDoneSVGActive {
  .taskRoadmapSVG {
    stroke: var(--bg-task-done-roadmap-active);
  }
  .taskRoadmapSVGFill {
    fill: var(--bg-task-done-roadmap-active);
  }
}

.taskRoadmapProgressSVG {
  .taskRoadmapSVG {
    stroke: #f4e456;
  }
  .taskRoadmapSVGFill {
    fill: #f4e456;
  }
}
.taskRoadmapProgressSVGActive {
  .taskRoadmapSVG {
    stroke: var(--bg-task-progress-roadmap-active);
  }
  .taskRoadmapSVGFill {
    fill: var(--bg-task-progress-roadmap-active);
  }
}

.taskRoadmapPlannedSVG {
  .taskRoadmapSVG {
    stroke: #a9adb3;
  }
  .taskRoadmapSVGFill {
    fill: #a9adb3;
  }
}
.taskRoadmapPlannedSVGActive {
  .taskRoadmapSVG {
    stroke: var(--bg-task-planned-roadmap-active);
  }
  .taskRoadmapSVGFill {
    fill: var(--bg-task-planned-roadmap-active);
  }
}

.roadMapMoveIcon {
  g {
    opacity: 0.5;
  }
  rect {
    fill: var(--switch-hover-color);
    fill-opacity: 0.05;
  }
}
.roadMapMoveIcon:hover {
  g {
    opacity: 1;
  }
  rect {
    fill: var(--bg-move-roadmap);
    fill-opacity: 0.5;
  }
}
.roadMapMoveIcon:active {
  g {
    opacity: 0.75;
  }
  rect {
    fill: var(--bg-move-roadmap);
    fill-opacity: 0.5;
  }
}

.roadMapMoveIcon:disabled {
  g {
    opacity: 0.3;
  }
  rect {
    fill: var(--switch-hover-color);
    fill-opacity: 0.05;
  }
}
