:root {
  --accent-color: rgba(0, 102, 254, 1);
}

[data-accent="red"] {
  --accent-color: rgba(255, 72, 72, 1);
}

[data-accent="orange"] {
  --accent-color: rgba(255, 111, 78, 1);
}

[data-accent="yellow"] {
  --accent-color: rgba(250, 207, 54, 1);
}

[data-accent="green"] {
  --accent-color: rgba(15, 255, 169, 1);
}

[data-accent="blue"] {
  --accent-color: rgba(54, 134, 247, 1);
}

[data-accent="navy-blue"] {
  --accent-color: rgba(0, 102, 254, 1);
}

[data-accent="pink"] {
  --accent-color: rgba(237, 64, 240, 1);
}

[data-accent="purple"] {
  --accent-color: rgba(128, 25, 245, 1);
}
