/* 
color-1 - используется для фона
color-2 - для контейнеров, т.е. блоков с информацией по центру
color-3 - для хедера
color-4 - для бокового меню 
*/
:root {
  /*color 1*/
  --bg-color-and-popup: #e6ebf2;
  /*color 4*/
  --bg-color-sidebar-and-dropdown: #e9edf3;
  /*color 2*/
  --bg-color-project: #f6f7f8;
  /*color 3*/
  --bg-color-header-and-dropdown-user: #f9fafc;
  --text-color: #000000;
  --foreground-color50: rgb(0, 0, 0, 0.5);
  --accent-color: #0066fe;
  --title-input-color: rgb(0, 0, 0, 0.75);
  --light-stroke: rgba(0, 0, 0, 0.1);
  --bg-move-roadmap: rgba(0, 0, 0, 0.2);
  --bg-pagination-circle: rgba(0, 0, 0, 0.3);
  --bg-icon-detele-photo: rgb(255, 255, 255);
  /*Кнопки*/
  --bg-error-button: #f1403a;
  /* кнопки сайдбара проекты  */
  --bg-workspace-button: rgba(0, 0, 0, 0.08);
  --bg-workspace-button-focus: rgba(0, 0, 0, 0.05);
  --bg-workspace-button-active: rgba(0, 0, 0, 0.12);
  --bg-icon-sidebar: var(--accent-color);
  --border-input: rgb(0, 0, 0, 0.1);
  --light-blue-text-places: #6f7b8d;
  --bg-exit-icon: #ff0000;
  /* свич */
  --switch-color: rgba(0, 0, 0, 0.05);
  --switch-hover-color: rgba(0, 0, 0, 0.15);
  /* иконка кнопки добавить рабочую облачть */
  /* пусть пока будут */
  --add-workspace-button-border: #c5c5c5;
  --add-workspace-button: rgba(0, 0, 0, 0.25);
  --add-workspace-button-hover: #8c8c8c;
  --add-workspace-button-hover-text: #545454;
  /* цвета для задач */
  --bg-task-complete: rgba(153, 229, 80, 0.15);
  --bg-task-in-progress: rgba(244, 228, 86, 0.15);
  --bg-task-in-planned: rgba(169, 173, 179, 0.15);
  --bg-task-done-roadmap-active: #6ed344;
  --bg-task-progress-roadmap-active: #facf36;
  --bg-task-planned-roadmap-active: #878a8f;
  --bg-color-task: rgba(255, 255, 255, 0.2);
  --bg-color-task-hover: rgba(255, 255, 255, 0.1);
  /* color-2 в виде r, g, b */
  --bg-color-project-rgb: 246, 247, 248;
}
[data-public-theme="light"],
[data-theme="light"] {
  /*color 1*/
  --bg-color-and-popup: #e7ecf3;
  /*color 4*/
  --bg-color-sidebar-and-dropdown: #e9edf3;
  /*color 2*/
  --bg-color-project: #f6f7f8;
  /*color 3*/
  -bg-color-header-and-dropdown-user: #f9fafc;
  --text-color: #000000;
  --foreground-color50: rgb(0, 0, 0, 0.5);
  --light-stroke: rgba(0, 0, 0, 0.1);
  --title-input-color: rgb(0, 0, 0, 0.75);
  --bg-move-roadmap: rgba(0, 0, 0, 0.2);
  --bg-pagination-circle: rgba(0, 0, 0, 0.3);
  --bg-icon-detele-photo: rgb(255, 255, 255);
  /*Кнопки*/
  --bg-error-button: #f1403a;
  /* кнопки сайдбара проекты  */
  --bg-workspace-button: rgba(0, 0, 0, 0.08);
  --bg-workspace-button-focus: rgba(0, 0, 0, 0.05);
  --bg-workspace-button-active: rgba(0, 0, 0, 0.12);
  --bg-icon-sidebar: var(--accent-color);
  --border-input: rgb(0, 0, 0, 0.1);
  --light-blue-text-places: #6f7b8d;
  --bg-exit-icon: #ff0000;
  /* свич */
  --switch-color: rgba(0, 0, 0, 0.05);
  --switch-hover-color: rgba(0, 0, 0, 0.15);
  /* иконка кнопки добавить рабочую облачть */
  /* пусть пока будут */
  --add-workspace-button-border: #c5c5c5;
  --add-workspace-button: rgba(0, 0, 0, 0.25);
  --add-workspace-button-hover: #8c8c8c;
  --add-workspace-button-hover-text: #545454;
  /* цвета для задач */
  --bg-task-complete: rgba(153, 229, 80, 0.15);
  --bg-task-in-progress: rgba(244, 228, 86, 0.15);
  --bg-task-in-planned: rgba(169, 173, 179, 0.15);
  --bg-task-done-roadmap-active: #6ed344;
  --bg-task-progress-roadmap-active: #facf36;
  --bg-task-planned-roadmap-active: #878a8f;
  --color-task-done: #61843f;
  --color-task-progress: #7a722b;
  --color-task-planned: #55575a;
  --bg-color-task: rgba(255, 255, 255, 0.2);

  /* color-2 в виде r, g, b */
  --bg-color-project-rgb: 246, 247, 248;
}
[data-public-theme="dark"],
[data-theme="dark"] {
  /*color 1*/
  --bg-color-and-popup: #191c20; /*Пока так, мб потом надо поменять для попапов*/
  /*color 4*/
  --bg-color-sidebar-and-dropdown: #1b1e23;
  /*color 2*/
  --bg-color-project: #15171b;
  /*color 3*/
  --bg-color-header-and-dropdown-user: #1e2227;
  --text-color: #ffffff;
  --foreground-color50: rgb(255, 255, 255, 0.5);
  --title-input-color: rgb(255, 255, 255, 0.75);
  --light-stroke: rgba(255, 255, 255, 0.1);
  --bg-move-roadmap: rgba(255, 255, 255, 0.2);
  --bg-pagination-circle: rgba(255, 255, 255, 0.3);
  --bg-icon-detele-photo: rgb(0, 0, 0);
  /*Кнопки*/
  --bg-error-button: #f1403a;
  /* кнопки сайдбара проекты  */
  --bg-workspace-button: rgba(255, 255, 255, 0.08);
  --bg-workspace-button-focus: rgba(255, 255, 255, 0.05);
  --bg-workspace-button-active: rgba(255, 255, 255, 0.12);
  --bg-icon-sidebar: #ffffff;
  --border-input: rgb(255, 255, 255, 0.1);
  --light-blue-text-places: rgba(255, 255, 255, 0.5);
  --bg-exit-icon: #fff;
  /* свич */
  --switch-color: rgba(255, 255, 255, 0.05);
  --switch-hover-color: rgba(255, 255, 255, 0.15);
  /* иконка кнопки добавить рабочую облачть */
  /* пусть пока будут */
  --add-workspace-button-border: #676767;
  --add-workspace-button: rgba(255, 255, 255, 0.25);
  --add-workspace-button-hover: #9a9a9a;
  --add-workspace-button-hover-text: #cccccc;
  /* цвета для задач */
  --bg-task-complete: rgba(153, 229, 80, 0.15);
  --bg-task-in-progress: rgba(244, 228, 86, 0.15);
  --bg-task-in-planned: rgba(169, 173, 179, 0.15);
  --bg-task-done-roadmap-active: #6ed344;
  --bg-task-progress-roadmap-active: #facf36;
  --bg-task-planned-roadmap-active: #878a8f;
  --color-task-done: #ccf2a7;
  --color-task-progress: #f9f1aa;
  --color-task-planned: #d4d6d9;
  --bg-color-task: rgba(0, 0, 0, 0.2);
  /* color-2 в виде r, g, b */
  --bg-color-project-rgb: 21, 23, 27;
}
