/* color-1 - используется для фона
color-2 - для контейнеров, т.е. блоков с информацией по центру
color-3 - для хедера
color-4 - для бокового меню */
:root {
  /*color 1*/
  --bg-color-and-popup: #e6ebf2;
  /*color 4*/
  --bg-color-sidebar-and-dropdown: #e9edf3;
  /*color 2*/
  --bg-color-project: #f6f7f8;
  /*color 3*/
  --bg-color-header-and-dropdown-user: #f9fafc;
  --text-color: #000000;
  --foreground-color50: rgb(0, 0, 0, 0.5);
  --accent-color: #0066fe;
  --title-input-color: #000000;
  --bg-workspace-button: rgba(0, 0, 0, 0.08);
  --bg-workspace-button-focus: rgba(0, 0, 0, 0.05);
  --bg-workspace-button-active: rgba(0, 0, 0, 0.12);
  --bg-icon-sidebar: #0066fe;
  --border-input: rgb(0, 0, 0, 0.1);
}
[data-theme="light"] {
  /*color 1*/
  --bg-color-and-popup: #e6ebf2;
  /*color 4*/
  --bg-color-sidebar-and-dropdown: #e9edf3;
  /*color 2*/
  --bg-color-project: #f6f7f8;
  /*color 3*/
  -bg-color-header-and-dropdown-user: #f9fafc;
  --text-color: #000000;
  --foreground-color50: rgb(0, 0, 0, 0.5);
  --title-input-color: rgb(0, 0, 0, 0.75);
  --bg-workspace-button: rgba(0, 0, 0, 0.08);
  --bg-workspace-button-focus: rgba(0, 0, 0, 0.05);
  --bg-workspace-button-active: rgba(0, 0, 0, 0.12);
  --bg-icon-sidebar: #0066fe;
  --border-input: rgb(0, 0, 0, 0.1);
}
[data-theme="dark"] {
  /*color 1*/
  --bg-color-and-popup: #191c20; /*Пока так, мб потом надо поменять для попапов*/
  /*color 4*/
  --bg-color-sidebar-and-dropdown: #1b1e23;
  /*color 2*/
  --bg-color-project: #15171b;
  /*color 3*/
  --bg-color-header-and-dropdown-user: #1e2227;
  --text-color: #ffffff;
  --foreground-color50: rgb(255, 255, 255, 0.5);
  --title-input-color: rgb(255, 255, 255, 0.75);
  --bg-workspace-button: rgba(255, 255, 255, 0.08);
  --bg-workspace-button-focus: rgba(255, 255, 255, 0.12);
  --bg-workspace-button-active: rgba(255, 255, 255, 0.05);
  --bg-icon-sidebar: #ffffff;
  --border-input: rgb(255, 255, 255, 0.1);
}
