@import "../../../workspace/theme.module.css";

.container {
  background-color: var(--bg-color-project);
  padding: 24px;
  border-radius: 24px;
  border-style: solid;
  border-color: var(--light-stroke);
  border-width: 1px;
  display: grid;
  flex-wrap: wrap;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(min(564px, 100%), 1fr));
}

.projectItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 24px;
  background-color: var(--bg-color-sidebar-and-dropdown);
  border-radius: 15px;
  /* width: 564px; */
  height: 200px;
}

.projectItemInfo {
  display: flex;
  gap: 24px;
  height: 96px;
}
.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: calc(100% - 90px);
}

.infoTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectItemDateWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-stroke);
  background-color: var(--light-stroke);
}

.projectItemAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--light-stroke);
  border-width: 1px;
}

.projectItemAvatarUser {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.pixelAvatar {
  image-rendering: pixelated;
}

.projectItemTitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  width: calc(100% - 150px);
}

.projectItemDate {
  font-size: 16px;
  font-weight: normal;
  color: var(--foreground-color50);
}

.projectItemDesc {
  font-size: 18px;
  font-weight: 50;
  color: var(--foreground-color50);
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
  /* width: 200px; */
}

@media (min-width: 0px) and (max-width: 510px) {
  .infoTitle {
    align-items: baseline;
    flex-direction: column;
    gap: 12px;
  }
  .projectItem {
    width: 100%;
  }
  .projectItemTitle {
    width: calc(100% - 10px);
  }
  .projectItemInfo {
    height: 100%;
  }
}
