@import "../../../workspace/theme.module.css";

.container {
  background-color: var(--bg-color-project);
  padding: 24px;
  border-radius: 24px;
  border-style: solid;
  border-color: var(--light-stroke);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.projectItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 24px;
  background-color: var(--bg-color-sidebar-and-dropdown);
  border-radius: 15px;
}

.projectItemInfo {
  display: flex;
  gap: 24px;
  width: 608px;
}
.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 500px;
}

.infoTitle {
  display: flex;
  justify-content: space-between;
}

.projectItemDateWrapper {
  display: flex;
  gap: 4px;
}

.projectItemAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--light-stroke);
  border-width: 1px;
}

.pixelAvatar {
  image-rendering: pixelated;
}

.projectItemTitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.projectItemDate {
  font-size: 16px;
  font-weight: normal;
  color: var(--foreground-color50);
}

.projectItemDesc {
  font-size: 18px;
  font-weight: 50;
  color: var(--foreground-color50);
  height: 100%;
}
